@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+AU+TAS:wght@100..400&family=Playwrite+FR+Moderne:wght@100..400&family=Playwrite+IS:wght@100..400&family=Roboto+Slab:wght@100..900&family=Tiny5&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
  padding: 1%;
  background-image: url(./images/ai-generated-8559957_1280.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.main h1 {
  margin-bottom: 1%;
  padding: 1%;
  font-size: 64px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: white;
  border: 1px dashed rgb(114, 112, 112);
  border-radius: 10px;
}
.container {
  width: 90%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: space-around;
  background: rgb(28, 28, 28);
  background: linear-gradient(
    90deg,
    rgba(15, 14, 14, 0.5) 100%,
    rgba(239, 251, 251, 0.2) 100%
  );
  box-shadow: 2px 9px 28px 35px rgba(0, 0, 0, 0.57);
}
h2 {
  width: 100%;
  padding: 5%;
  font-size: 42px;
  text-decoration: underline;
}
.left {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.right {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
ul {
  width: 70%;
}
ul li {
  padding: 5%;
  list-style: square;
}
ul li a {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .main {
    height: auto;
    padding-inline: 2%;
    padding-block: 6%;
  }
  .main h1 {
    font-size: 56px;
  }
  .container {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container h2 {
    width: 100%;
    text-align: center;
    font-size: 38px;
  }
  .container .left {
    width: 100%;
    padding-block: 5%;
    align-items: center;
  }
  .container .right {
    width: 100%;
    align-items: center;
    padding-block: 5%;
  }
  .container ul {
    width: 50%;
  }
}
